body {
    padding: 0;
    text-align: center;
    background-image: url("https://media.giphy.com/media/DbIeb5KUODa80/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }


  header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: WHITE;
    font-size: 60px;
  }

  p {
    font-size: 30px;
    margin : 50px auto;
    color: white;
  }

  .game-screen {
    width: 100px;
    height: 400px;
    text-align:center;
  }

  .game-intro {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -0;
  }

  canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    background-color: orange;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


  .players {
    display: flex; 
    justify-content: center;
    align-items:center;
  }
  
  .player-button{
    border : 2px solid #0095DD;
    width: 150px;
    height: 150px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-img{
    width: 150px;
  }

  .player-button:hover{
    background-color: #0095DD;
  }

  #start_button {
    height: 50px;
    width: 200px;
    margin-top:70px;
    border-radius: 25px;
    border: 2px solid black;
    color: black;
    font-size: 15px;
  }

  #start_button:hover{
    background-color: #0095DD;
    color: black;
  }

  #restart_button {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid black;
    color:black;
    font-size: 15px;
    z-index: 0;
    position: relative;
    margin-top: 500px;
    margin-left: 550px;
    opacity: 0;
  }

  #restart_button:hover {
    background-color: black;
    color: white;
  }
  
  
  .face-style {
    background-color: #0095DD;
  }